#container-login-form {
  width: 70%;
  height: auto;
  background-color: var(--form-background);
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5.5rem 0;
}

@media screen and (max-width: 620px) {
  #container-login-form {
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  #container-login-form {
    width: 90%;
  }
}
